<header>
    <h1><a href='{{ site.url }}/'>{{ site.name }}</a></h1>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-LR2601DRCQ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-LR2601DRCQ');
    </script>

</header>
<a href='{{ site.url }}/'> Home</a> <!-- | <a href='{{ site.url }}/about/'>About </a> | <a href='{{ site.url }}/contact/'> Contacts</a> | --> <a href='{{ site.url }}/archive/'> Archive</a> 
<!-- <hr> -->
